@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin:0px;
    padding: 0px;
}
.navigation-container{
    width: 100%;
    height: 500px;
    background: linear-gradient(90deg,  hsl(13, 100%, 72%)0%, hsl(353, 100%, 62%) 100%);
    position: relative;
    border-bottom-left-radius: 80px;

  .navigation-bg{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
   
    .bg{
        background-image: url("../images/bg-pattern-intro-desktop.svg");
        position: absolute;
        height: 80%;
        width: 140%;
        background-size: cover;
        background-position: center;
        transform: scale(1.50);
        
    }
  }

  .navigation-items{
    position: relative; 
    display: flex;
    align-items: center; 
    padding-top: 40px;
    margin-left: 20%;
    margin-right: 20%;

      span{
        color:white;
        margin-left: 40px;
        &:hover{
            cursor: pointer;
        }
      }
      img:not(:nth-child(1)){
        margin-left:10px;
      }
      .navigation-right{
        margin-left: auto;
        span{
            display: inline-block;
            text-align: center;
            width: 100px;
            margin: 0px;
            padding: 10px;
            border-radius: 50px;
            &:hover{
                background-color:  hsl(355, 100%, 74%);
            }
        }
      }
      
    }           
    .navigation-center{
     position: relative;
     width: 100%;
     height: 300px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     h1{
        color:white
     }
     p{
        padding-top: 15px;
        color:hsla(0, 0%, 100%, 0.76);
     }
    }
    .navigation-center-links{
        margin-top: 15px;
        button{
            width: 120px;
            margin: 0 10px;
            background-color:  hsl(355, 100%, 74%);
            color:white;
            border-radius: 50px;
            border-color: transparent;
            padding: 10px 0;
            font-size: 16px;
            font-weight: medium;
            
            &:hover{
                background-color: white;
                color:hsl(355, 100%, 74%);
            }
         }
    }
}

.main-container{
    width: 100%;
    position: relative;
    font-family: 'Ubuntu', sans-serif;

    h3{
        position: absolute;
        width: 400px;
        left:0;
        right:0;
        top:130px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color:hsl(208, 49%, 24%);
        font-weight: 700;
        
        
    }
    .main-flex-items{
        display: flex;
        .text-area{
            width: 100%;
            padding: 15%;
            h4{
                color: hsl(208, 49%, 24%);
                font-weight: 700;
                letter-spacing: 1px;
            }
            p{
                margin-top: 30px;
                margin-bottom: 80px;
                line-height: 28px;
                padding-right: 30px;
                font-size: 16px;
            }
            
        }
        .image-area{
            width: 100%;
            img{
                width: inherit;
                object-fit:contain ;
                margin-top: 100px;
            }
        }
    }
}