@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  overflow-x: hidden;
}
.navigation-container {
  width: 100%;
  height: 500px;
  background: linear-gradient(
    90deg,
    hsl(13, 100%, 72%) 0%,
    hsl(353, 100%, 62%) 100%
  );
  position: relative;
  border-bottom-left-radius: 80px;

  .navigation-bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;

    .bg {
      background-image: url("../bg/bg-pattern-intro-desktop.svg");
      position: absolute;
      height: 80%;
      width: 140%;
      background-size: cover;
      background-position: center;
    }
  }

  .navigation-items {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-left: 20%;
    margin-right: 20%;

    span {
      color: white;
      margin-left: 40px;
      &:hover {
        cursor: pointer;
      }
    }
    img:not(:nth-child(1)) {
      margin-left: 10px;
    }
    .navigation-right {
      margin-left: auto;
      span {
        display: inline-block;
        text-align: center;
        width: 100px;
        margin: 0px;
        padding: 10px;
        border-radius: 50px;
        &:hover {
          background-color: hsl(355, 100%, 74%);
        }
      }
    }
  }
  .navigation-center {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      color: white;
    }
    p {
      padding-top: 15px;
      color: hsla(0, 0%, 100%, 0.76);
    }
  }
  .navigation-center-links {
    margin-top: 15px;
    button {
      width: 120px;
      margin: 0 10px;
      background-color: hsl(355, 100%, 74%);
      color: white;
      border-radius: 50px;
      border-color: transparent;
      padding: 10px 0;
      font-size: 16px;
      font-weight: medium;

      &:hover {
        background-color: white;
        color: hsl(355, 100%, 74%);
      }
    }
  }
}

.main-container {
  width: 100%;
  margin-top: 100px;
  position: relative;
  font-family: "Ubuntu", sans-serif;

  h3 {
    position: absolute;
    width: 400px;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: hsl(208, 49%, 24%);
    font-weight: 700;
  }
  .main-flex-items {
    .text-area {
      width: 100%;
      padding: 20%;
      h4 {
        color: hsl(208, 49%, 24%);
        font-weight: 700;
        letter-spacing: 1px;
      }
      p {
        margin-top: 30px;
        margin-bottom: 80px;
        line-height: 28px;
        padding-right: 30px;
        font-size: 16px;
      }
    }

    .image-area {
      display: flex;
      justify-content: center;
      @media screen and (max-width: 990px) {
        margin-bottom: 150px;
      }
      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: right;
      }
    }
  }

  .main-center {
    height: 350px;
    display: flex;
    margin-top: 50px;
    background-color: hsl(237, 23%, 32%);
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    background-image: url("../bg/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 50%;
    @media screen and (max-width: 990px) {
      background-size: 100%;
      background-position-y: -250px;
    }
    .phone-image {
      width: 50%;
      position: relative;
      img {
        width: 450px;
        margin-top: -50px;
        position: absolute;
      }
      @media screen and (max-width: 990px) {
        position: absolute;
        img {
          width: 200px;
          left: 0;
          right: 0;
          top: -40px;
          margin-left: 50%;
          margin-right: 50%;
        }
      }
    }
    .main-text {
      width: 50%;
      padding: 70px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      @media screen and (max-width: 990px) {
        padding-right: 80px;
        padding-left: 80px;
        width: 100%;
        height: 100%;

        span {
          margin-top: 40px;
          font-size: 18px !important;
          text-align: center;
        }
        p {
          font-size: 12px;
          text-align: center;
        }
      }
      span {
        font-size: 28px;
        font-weight: 400;
        color: white;
      }
      p {
        margin-top: 30px;
        color: hsla(0, 0%, 100%, 0.801);
        font-weight: lighter;
      }
    }
  }
  .main-bottom {
    margin-top: 150px;

    img {
      max-width: 100%;
      object-position: -140px;
      transform: scale(1.2);
      @media screen and (max-width: 766px) {
        object-position: -0;
        transform: scale(1);
      }
    }
    .text-area {
      padding: 100px;
      @media screen and (max-width: 766px) {
        padding: 30px;
      }
      h3 {
        position: static;
        text-align: start;
        margin: 0 !important;
      }
      p {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 80px;
        margin-top: 30px;
        color: gray;
        font-weight: lighter;
      }
    }
  }
}

.footer-container {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  background-color: hsl(240, 10%, 16%);
  border-top-right-radius: 60px;
  padding: 40px;
  * {
    list-style: none;
  }
  .footer-logo {
    width: 80px;
    height: 80px;
    margin: auto;
    img {
      object-fit: contain;
    }
  }
  h5 {
    color: white;
  }
  ul {
    padding: 0px;
    margin-top: 20px;

    li {
      color: hsl(240, 2%, 79%);
      line-height: 35px;
    }
  }
}

.login-signup {
  @media screen and (max-width: 1200px) {
    display: none;
  }
}
.icon {
  cursor: pointer;
  img {
    object-fit: contain;
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 20px;
  border-radius: 15px;
  overflow: hidden;
}
.dropdown-content a {
  color: black;
  padding: 12px 40px;
  text-decoration: none;
  display: block;
  background-color: #f1f1f1;
}

.transform-arrow {
  transform: rotate(180deg);
}
@media screen and (min-width: 1200px) {
  .mobile-nav-container {
    display: none;
  }
}
.mobile-nav {
  position: absolute;
  height: 400px;
  background-color: white;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 22;
  display: flex;
  flex-direction: column;
  margin-left: -20%;
  margin-right: -20%;
  border-radius: 30px;
  display: none;

  .dropdown {
    text-align: center;
    display: block;

    span {
      color: hsl(208, 49%, 24%);
      font-weight: bold;
      margin-top: 20px;
      line-height: 55px;
      margin-left: 25px;
    }
    img {
      margin: 0px;
    }
  }
  .dropdown-content {
    position: relative;
    margin: 0 5px;
    padding: 10px;
  }

  .login-signup-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    span {
      margin: 0px;
      line-height: 60px;
      width: 100px;
      height: 60px;
      text-align: center;
      border-radius: 30px;
      color: hsl(208, 49%, 24%);
      font-weight: 700;
      font-size: 16px;
      &:hover {
        background: linear-gradient(
          90deg,
          hsl(13, 100%, 72%) 0%,
          hsl(353, 100%, 62%) 100%
        );

        color: white !important;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .navigation-center {
    h1 {
      text-align: center;
    }
  }
}
@media screen and (max-width: 375px) {
  .text-area {
    h3 {
      width: 100%;
    }
  }
  .main-container {
    h3 {
      width: 100%;
    }
  }
}
